<br><br>
<div class="card p-4">
  <h2>Edit <%= resource_name.to_s.humanize %></h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field form-group row">
      <%= f.label :name, class:'col-sm-2 col-form-label' %><br />
      <div class="col-sm-10">
        <%= f.text_field :name, autofocus: true, class:'form-control'%>
      </div>
    </div>

    <div class="field form-group row">
      <%= f.label :email, class:'col-sm-2 col-form-label'  %><br />
      <div class="col-sm-10">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:'form-control' %>
      </div>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field form-group row">
      <%= f.label :password, class:'col-sm-2 col-form-label'  %>
      <div class="col-sm-10">
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum), Empty if you dont want to change</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", class:'form-control' %>
      </div>
    </div>

    <div class="field form-group row">
      <%= f.label :password_confirmation, class:'col-sm-2 col-form-label'  %><br />
      <div class="col-sm-10">
        <%= f.password_field :password_confirmation, autocomplete: "new-password" , class:'form-control'%>
      </div>
    </div>

    <div class="field form-group row">
      <%= f.label 'Current password (we need your current password to confirm your changes)', class:'col-sm-2 col-form-label'  %>
      <div class="col-sm-10">
        <%= f.password_field :current_password, autocomplete: "new-password" , class:'form-control'%>
      </div>
    </div>
    <br><br>
    <div class="actions">
      <%= f.submit "Update", class:'col-sm-12 btn btn-primary' %>
    </div>
  <% end %>
  <br>
  <h3 class="text-center">Cancel my account</h3>
  <br>
  <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class:'btn btn-danger col-sm-12' %>
</div>
<br>
<%= link_to "Back", :back, class: 'col-sm-4 btn btn-success' %>
<br>
