
<h1 class="text-center">Tasks</h1>
<% if current_user %>
  <br>
  <%= link_to 'New Task', new_task_path, class:'btn btn-primary col-sm-12' if current_user.admin%>
  <br><br>
  <% current_user.to_dos.each_slice(3) do |todos| %>
    <div class="card-deck">
      <% todos.each do |todo| %>
        <div class="card">
          <img src="<%= todo.task.photo %>" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><%= todo.task.title %></h5>
            <p class="card-text">
              <%= link_to 'Show', task_path(todo.task), class: 'btn btn-primary' %>
              <% if todo.completed? %>
                <%= link_to 'Incomplete', todo_completed_path(todo), method: :patch, class: 'btn btn-warning' %>
              <% else %>
                <%= link_to 'Complete', todo_completed_path(todo), method: :patch, class: 'btn btn-success' %>
              <% end %>
              <% if current_user.admin %>
                <%= link_to 'Edit', edit_task_path(todo.task), class: 'btn btn-warning' %>
                <%= link_to 'Destroy', todo.task, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-danger' %>
              <% end %>
            <p class="card-text"><small class="text-muted">Updated <%=time_ago_in_words todo.updated_at %> ago</small></p>
          </div>
        </div>
      <% end %>
    </div>
    <br>
  <% end %>
<% else %>
  <% @tasks.each_slice (3) do |tasks| %>
    <div class="card-deck">
      <% tasks.each do |task| %>
        <div class="card">
          <img src="<%= task.photo %>" class="card-img-top img-thumbnail" alt="...">
          <div class="card-body">
            <h5 class="card-title"><%= task.title %></h5>
            <p class="card-text">
              <%= link_to 'Show', task, class: 'btn btn-success' %>
            </p>
            <p class="card-text"><small class="text-muted">Updated <%=time_ago_in_words task.updated_at %> ago</small></p>
          </div>
        </div>
      <% end %>
    </div>
    <br>
  <% end %>
<% end %>




