<p id="notice"><%= notice %></p>
<% if user_signed_in? && current_user.admin? %>
  <h1>Tasks</h1>
  <%= link_to 'New Task', new_task_path %>
    <% @tasks.each_slice (3) do |tasks| %>
      <div class="card-deck">
      <% tasks.each do |task| %>
          <div class="card">
            <img src="<%= task.photo %>" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><%= task.title %></h5>
              <p class="card-text"><%= link_to 'Completed' %>
                <%= link_to 'Show', task %>
                <%= link_to 'Edit', edit_task_path(task) %>
                <%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></p>
              <p class="card-text"><small class="text-muted"><%=time_ago_in_words task.updated_at %>></small></p>
            </div>
          </div>
    <% end %>
      </div>
  <% end %>
  <% elsif user_signed_in? %>
<h1>Tasks</h1>
    <% current_user.todos.each_slice(3) do |todos| %>
    <div class="card-deck">
      <% todos.each do |todo| %>
        <div class="card">
          <img src="<%= todo.photo %>" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><%= todo.title %></h5>
            <p class="card-text"><%= link_to 'Completed' %>
              <%= link_to 'Show', todo %>
              <%= link_to 'Completed', todo_completed_path(todo) %>
            <p class="card-text"><small class="text-muted"><%=time_ago_in_words todo.updated_at %></small></p>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
<% else %>
  <h1>Tasks</h1>
    <% @tasks.each_slice (3) do |tasks| %>
      <div class="card-deck">
        <% tasks.each do |task| %>
          <div class="card">
            <img src="<%= task.photo %>" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><%= task.title %></h5>
              <p class="card-text"><%= link_to 'Completed' %>
                <%= link_to 'Show', task %>
              <p class="card-text"><small class="text-muted"><%=time_ago_in_words task.updated_at %></small></p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>



